@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	outline: none;
	background-color: #000000;
	cursor: move;
	/* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}